@model IEnumerable<Todo.Models.TodoItem>

<h2>Todo List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Created At</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TaskName</td>
                <td>@item.CreatedAt</td>
                <td>
                    @if (item.IsCompleted)
                    {
                        <span class="text-success">Completed</span>
                    }
                    else
                    {
                        <span class="text-danger">Not Completed</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
